# Deployment history
deploy/deployment_history.log

# Mac stuff
.DS_Store

# Compiled site
_site

# Sass garbage
.sass-cache

# Bundler
.bundle/
vendor/

# IDEs
.idea/
*.swp

# Vagrant
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

# Ruby
Gemfile.lock
