---
layout: page
title: Projekty
permalink: /projekty/
---

{% if site.categories.Project %}
	<ul class="post-list">
		{% for post in site.categories.Project %}
			<li style="padding: 10px 0; display: flex;">
				<img src="{{ post.minicover | prepend: site.baseurl }}" style="width: 30%; margin-right: 20px; float: left;" />
				<section style="width: 70%;">
					<h2>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h2>
					<section class="post-excerpt" itemprop="description">
						<p>{{ post.description | strip_html | truncatewords: 25 }}</p>
					</section>
				</section>
			</li>
			{% if forloop.last == false %}
				<hr style="clear: both;"/>
			{% endif %}
		{% endfor %}
	</ul>
{% else %}
	<div style="text-align: center; padding: 50px 0;">
		<h2>Niestety, nie mamy czym się jeszcze pochwalić :(</h2>
		<h3>Zapraszamy wkrótce!</h3>
	</div>
{% endif %}
