---
layout: page
title: Projekty
permalink: /projekty/
---

{% if site.categories.Projekty %}
	<ul class="post-list" style="margin-bottom: 20px;">
		{% assign sorted_posts = (site.categories.Projekty | sort: 'title') %}
		{% for post in sorted_posts %}
			<li style="padding: 10px 0;">
				<img src="{{ post.thumbnail | prepend: site.baseurl }}" style="width: 30%; margin-right: 20px; margin-bottom: 30px; float: left;" />
				<section>
					<h2>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h2>
					<section class="post-excerpt" itemprop="description">
						<p>{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
					</section>
				</section>
			</li>
			{% if forloop.last == false %}
				<hr style="clear: both;"/>
			{% endif %}
		{% endfor %}
	</ul>
{% else %}
	<div style="text-align: center; padding: 50px 0;">
		<h2>Niestety, nie mamy czym się jeszcze pochwalić :(</h2>
		<h3>Zapraszamy wkrótce!</h3>
	</div>
{% endif %}
