<footer class="site-footer">

  <div class="wrapper">

    <h3 class="footer-heading">{{ site.title }}</h3>

    <div class="site-navigation">

      <p><strong>Mapa Strony</strong></p>
      <ul class="pages">
        {% for page in site.pages %}
          {% if page.title and page.main_nav != false and page.type != "tag" and page.type != "category" %}
            <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="site-contact">

      <p><strong>Kontakt</strong></p>
      <ul class="social-media-list">
        <li>
          <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o"></i>
            <span class="username">{{ site.email }}</span>
          </a>
        </li>

        {% for social in site.social %}
          {% if social.url != null %}
          <li>
            <a href="{{ social.url }}" title="{{ social.desc }}">
              <i class="fa fa-{{ social.icon }}"></i>
              <span class="username">{% if social.username %}{{ social.username }}{% else %}{{ social.name }}{% endif %}</span>
            </a>
          </li>
          {% endif %}
        {% endfor %}

      </ul>
    </div>

    <div class="site-signature">
      <p class="rss-subscribe text"><strong>Subskrybuj <a href="{{ "/feed.xml" | prepend: site.baseurl }}">używając RSS</a></strong></p>
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>

<!-- Scripts -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
<script type="text/x-mathjax-config">
MathJax.Ajax.config.path["Contrib"] = "https://cdn.mathjax.org/mathjax/contrib";
MathJax.Hub.Config({
  showProcessingMessages: false,
  messageStyle: "none"
});
</script>
<script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/javascript">
$(document).ready(function() {
  // Default syntax highlighting
  hljs.configure({tabReplace: '    '});
  hljs.initHighlightingOnLoad();

  // Header
  var menuToggle = $('#js-mobile-menu').unbind();
  $('#js-navigation-menu').removeClass("show");
  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
      if($('#js-navigation-menu').is(':hidden')) {
        $('#js-navigation-menu').removeAttr('style');
      }
    });
  });
});

</script>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript">
if (document.getElementById("main-page-particles")) {
  particlesJS("main-page-particles", {
    particles: {
      number: { value: 60, density: { enable: true, value_area: 400 } },
      color: { value: "#ffffff" },
      shape: {
        type: "circle",
        stroke: { width: 0, color: "#000000" },
        polygon: { nb_sides: 5 },
        image: { src: "img/github.svg", width: 100, height: 100 }
      },
      opacity: {
        value: 0.5,
        random: false,
        anim: { enable: false, speed: 1, opacity_min: 0.1, sync: false }
      },
      size: {
        value: 3,
        random: true,
        anim: { enable: false, speed: 40, size_min: 0.1, sync: false }
      },
      line_linked: {
        enable: true,
        distance: 150,
        color: "#ffffff",
        opacity: 0.4,
        width: 1
      },
      move: {
        enable: true,
        speed: 4,
        direction: "none",
        random: false,
        straight: false,
        out_mode: "out",
        bounce: false,
        attract: { enable: false, rotateX: 600, rotateY: 1200 }
      }
    },
    interactivity: {
      detect_on: "canvas",
      events: {
        onhover: { enable: false, mode: "repulse" },
        onclick: { enable: false, mode: "push" },
        resize: false
      }
    },
    retina_detect: true
  });
  var update = function() {
    requestAnimationFrame(update);
  };
  requestAnimationFrame(update);
}
</script>

{% if page.custom_js %}
<!-- Custom page specific js files -->
  {% for js_file in page.custom_js %}
    <script src='/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}
