<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.1&appId=420123615182009&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
	  <span>{{ site.title }}</span>
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <div style="float: right;">
    <nav role="navigation" style="float: left;">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
          {% if page.title and page.main_nav != false and page.type != "tag" and page.type != "category" %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{% translate page.title %}</a>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
      <div class="change-language" style="line-height: 65px; float: right;">
        <a href="{{ site.baseurl }}/../">PL</a>
        <span>|</span>
        <a href="{{ site.baseurl }}/../en/">EN</a>
      </div>
    </div>
  </div>
</header>
