<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.1&appId=420123615182009&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
	  <span>{{ site.title }}</span>
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <div style="float: right;">
    <nav role="navigation" class="navigation-options">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
          {% if page.main_nav != false and page.type != "tag" and page.type != "category" and (page.title or page.title_i18n) %}
          <li class="nav-link">
             <a href="{{ page.url | prepend: site.baseurl }}">
                {% if page.title_i18n %}
                    {% translate page.title_i18n %}
                {% else if page.title %}
                    {{ page.title }}
                {% else %}
                    No title!
                {% endif %}
             </a>
          </li>
          {% endif %}
        {% endfor %}
      <li class="nav-link">
        <a href="{{ site.baseurl }}/../" style="padding-right: 0;">PL</a>
        <span>|</span>
        <a href="{{ site.baseurl }}/../en/" style="padding-right: 0;">EN</a>
      </li>
      </ul>
    </nav>
    </div>
  </div>
</header>
